In [5]:
import os
import pandas as pd
import numpy as np

In [23]:
file = "C:/Users/09009/Desktop/Interview/housing.csv" #Change path please
Path = "C:/Users/09009/Desktop/Interview/" #Change path please
firstColumn = "State"
secondCoumn = "Ratio"

In [4]:
HousingData = pd.read_csv(file)
HousingData.head(10)

    Room  State  Ratio   Price
0  6.575   4.98   15.3  504000
1  6.421   9.14   17.8  453600
2  7.185   4.03   17.8  728700
3  6.998   2.94   18.7  701400
4  7.147   5.33   18.7  760200
5  6.430   5.21   18.7  602700
6  6.012  12.43   15.2  480900
7  6.172  19.15   15.2  569100
8  5.631  29.93   15.2  346500
9  6.004  17.10   15.2  396900

# Task 1 Combine 2 column in 1

In [45]:
HousingData2 =pd.concat([HousingData['State'],HousingData['Ratio']], axis = 1)
HousingData2['State'] = HousingData2['State'].apply(str)
HousingData2['Ratio'] =HousingData2['Ratio'].apply(str)
HousingData2['Combine'] = HousingData2['State']+HousingData2['Ratio']
#HousingData2['conc'] = HousingData2.Series(HousingData2['State', 'Price'].fillna('').values.tolist()).str.join('')
#HousingData2['conc'] = HousingData2.str.join('')

#HousingData['Combine'] = HousingData['State']+HousingData['Price']

In [46]:
HousingData2.head(10)
#HousingData.head(10)

   State Ratio    Combine
0   4.98  15.3   4.9815.3
1   9.14  17.8   9.1417.8
2   4.03  17.8   4.0317.8
3   2.94  18.7   2.9418.7
4   5.33  18.7   5.3318.7
5   5.21  18.7   5.2118.7
6  12.43  15.2  12.4315.2
7  19.15  15.2  19.1515.2
8  29.93  15.2  29.9315.2
9   17.1  15.2   17.115.2

# Task 02 Get Average of price (for first 100 rows)

In [20]:
HousingData["Price"].head(100).mean(axis = 0)

468489.0

# Task 03 Get All Data

In [22]:
#HousingData.mean(axis = 0)
HousingData.describe()

             Room       State       Ratio         Price       Combine
count  489.000000  489.000000  489.000000  4.890000e+02  4.890000e+02
mean     6.240288   12.939632   18.516564  4.543429e+05  4.543559e+05
std      0.643650    7.081990    2.111268  1.653403e+05  1.653349e+05
min      3.561000    1.980000   12.600000  1.050000e+05  1.050230e+05
25%      5.880000    7.370000   17.400000  3.507000e+05  3.507150e+05
50%      6.185000   11.690000   19.100000  4.389000e+05  4.389088e+05
75%      6.575000   17.120000   20.200000  5.187000e+05  5.187058e+05
max      8.398000   37.970000   22.000000  1.024800e+06  1.024806e+06

# Task 4 Extract all above

In [28]:
info = HousingData.describe()
info.to_csv(Path+'result.csv')